<div class="container">
  <%= link_to "Back", events_path, class: "btn btn-default" %>
  <%= link_to "Update", edit_event_path(@event), class: "btn btn-default" %>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Address: <%= @event.location %></p>
    <p>Host: <%= @event.user.has_profile? ? @event.user.full_name : @event.user.email %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Where: <%= @event.location %></p>
    <p>When: <%= @event.starts_at %></p>
    <p>Until: <%= @event.ends_at %></p>
    <p>Max people: <%= @event.capacity %></p>

    <p><%= @event.price %> EUR</p>

    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <!-- Amenities -->
    <h4>Amenities</h4>
    <ul class="amenities">
      <li><%= !@event.includes_food ? ("<s>Food</s>").html_safe : "Food" %></li>
      <li><%= !@event.includes_drinks ? ("<del>Drinks</del>").html_safe : "Drinks" %></li>
    </ul>

    <!-- Photos -->
    <h4>Photos</h4>
    <% @event.photos.each do |photo| %>
      <%= image_tag photo.image.tiny %>
    <% end %>

    <!-- Themes -->
    <h4>Themes</h4>
      <% @themes.each do |t| %>
        <span class="label label-success"><%= t.name %></span>
      <% end %>
  </div>

</div>
